
@{
    ViewData["Title"] = "AvisoPagos";
}


<section class="content">
    <div class="container">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">

                </div>

            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                    </div>
                    <div class="body table-responsive">
                        <table class="table m-b-0 align-center">
                            <thead>
                                <tr>
                                    <th>No hay notificaciones de pago de cliente</th>
                                </tr>
                            </thead>
                        </table>
                    </div><br />
                    <a class="label"><h3 class="align-center" style="background-color:#009bde; color:#fff">AVISO DE PAGO A MI DISTRIBUIDOR</h3></a>
                    <a class="label"><h4 class="align-center" style="background-color:#009bde; color:#fff">Selecione fechas(s)</h4></a>

                    <div class="input-group body align-center">
                        <ul class="nav nav-tabs padding-0 align-center">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><input type="text" id="dtmSelFechaInicio" class="form-control align-center" required placeholder="Fecha Inical"></li>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <li><input type="text" id="dtmSelFechaFin" class="form-control align-center" required placeholder="Fecha Final"></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="body align-center">
                            <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalAvisoPagos" class="btn btn-primary btn-lg">REGISTRAR NOTIFICACIÓN DE PAGO A PROVEEDOR</a>
                        </div>
                    </div>
                    <div class="body table-responsive">
                        <table class="table m-b-0 align-center">
                            <thead>
                                <tr>
                                    <th>Sin registros para mostrar</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>