
@{
    ViewData["Title"] = "Favoritos";
}
    <section class="content search_result_page">
        <div class="container">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="body">
                            <div class="input-group">
                                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalagregar" class="btn btn-primary btn-lg" style="width:1050px; height:50px; font-weight:bold;"><h3 class="zmdi zmdi-account-add"> AGREGAR FAVORITO</h3></a>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar Alias de Favorito...">
                                <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
                            </div>
                            <ul class="nav nav-tabs p-l-0 p-r-0">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Web">Eliminar</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Images">Alias</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Videos">Referencia</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Alpino">Monto</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane card active" id="Web">
                            <div class="body m-b-10">
                                <p class="m-t-10">Sin registros para mostrar.</p>
                            </div>
                            <ul class="body pagination pagination-primary">
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Anterior</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Siguiente</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane card" id="Images">

                            <div class="body">
                                <p class="m-t-10">Sin registros para mostrar.</p>
                            </div>
                            <br />
                            <div>
                                <ul class="body pagination pagination-primary">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Anterior</a></li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Siguiente</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="tab-pane card" id="Videos">
                            <div class="body">
                                <p class="m-t-10">Sin registros para mostrar.</p>
                            </div>
                            <br />
                            <ul class="body pagination pagination-primary">
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Anterior</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);">Siguiente</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="Alpino">
                            <div class="card">
                                <div class="body">

                                    <p class="m-t-10">Sin registros para mostrar.</p>
                                    <div class="row">

                                    </div>

                                </div>
                                <br />
                                <ul class="body pagination pagination-primary">
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Anterior</a></li>
                                    <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Siguiente</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
