
@{
    ViewData["Title"] = "Pines Electronicos";
}

    <div class="container">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <h2>Pines electrónicos</h2>
        </div>
        <div class="row clearfix">

            <!--1 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion1.png" alt="Suscripcion 1" class="img-fluid mx-auto">

                        </a>


                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                <p>Kaspersky antivirus ofrece tecnologías de antivirus.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--2 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion2.png" alt="Suscripcion 2" class="img-fluid mx-auto">

                        </a>

                        <div class="collapse" id="collapseExample1">
                            <div class="well">
                                <p>League of Legends es un juego en línea competitivo.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--3 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion3.png" alt="Suscripcion 3" class="img-fluid mx-auto">
                        </a>

                        <div class="collapse" id="collapseExample2">
                            <div class="well">
                                <p>La tienda virtual de Nintendo permite descargar juegos y aplicaciones.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 4-->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion4.png" alt="Suscripcion 4" class="img-fluid mx-auto">

                        </a>

                        <div class="collapse" id="collapseExample3">
                            <div class="well">
                                <p>Las tarjetas prepago sirven para abonar fondos a la cuenta de PlayStation.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--5 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion5.png" alt="Suscripcion 5" class="img-fluid mx-auto">

                        </a>


                        <div class="collapse" id="collapseExample4">
                            <div class="well">
                                <p>Con Spotify es fácil encontrar la mejor música para cada momento.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--6 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion6.png" alt="Suscripcion 6" class="img-fluid mx-auto">

                        </a>

                        <div class="collapse" id="collapseExample5">
                            <div class="well">
                                <p>World of Tanks es un multijugador en línea  de batallas de tanques.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--7 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion7.png" alt="Suscripcion 7" class="img-fluid mx-auto">
                        </a>

                        <div class="collapse" id="collapseExample6">
                            <div class="well">
                                <p>Xbox Live Gold te regala juegos gratis cada mes y un multijugador avanzado.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--8 -->
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card tasks_report">
                    <div class="body">
                        <a href="#defaultModal" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                            @*<a href="#defaultModal" data-toggle="modal" data-target="#defaultModal3">*@
                            <img src="~/assets/images/suscripcion/suscripcion8.png" alt="Suscripcion 8" class="img-fluid mx-auto">

                        </a>

                        <div class="collapse" id="collapseExample7">
                            <div class="well">
                                <p>Los códigos Cinépolis equivalen a boletos para funciones de cine.</p>
                                @*<button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"*@
                                <button class="btn btn-raised btn-primary btn-round waves-effect" type="button" data-toggle="modal" data-target="#defaultModal3">
                                    Comprar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--
    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
        <div class="card tasks_report">
            <div class="body">
                <img src="~/assets/images/suscripcion/suscripcion5.png" alt="Suscripcion 4" class="img-fluid mx-auto">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
        <div class="card tasks_report">
            <div class="body">
                <img src="~/assets/images/suscripcion/suscripcion6.png" alt="Suscripcion 4" class="img-fluid mx-auto">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
        <div class="card tasks_report">
            <div class="body">
                <img src="~/assets/images/suscripcion/suscripcion7.jpg" alt="Suscripcion 4" class="img-fluid mx-auto">
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
        <div class="card tasks_report">
            <div class="body">
                <img src="~/assets/images/suscripcion/suscripcion8.png" alt="Suscripcion 4" class="img-fluid mx-auto">
            </div>
        </div>
    </div>

    -->
    </div>