
@{
    ViewData["Title"] = "Promociones";
}
<br /><br />
    <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
                <div class="body">
                    <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalcanje">
                        <img src="~/assets/images/promociones/pagaqui.png" alt="Suscripcion 1" class="img-fluid mx-auto">
                    </a>
                    <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalcanje" class="btn btn-primary btn-lg" style="width:400px; height:70px; font-weight:bold; background-color:#8CBA37;"><h3>CANJE DE CUPÓN</h3>></a>
                </div>
             </div>

        <div class="col-lg-4 col-md-12">
            <div class="body">
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalactivacion">
                    <img src="~/assets/images/promociones/Telcel.png" alt="Suscripcion 1" class="img-fluid mx-auto">
                </a>
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalactivacion" class="btn btn-primary btn-lg" style="width:400px; height:70px; font-weight:bold; background-color:#0C3383;"><h3>ACTIVACIÓN DE CHIP</h3>></a>
            </div> 
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="body">
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalhorapagaqui">
                    <img src="~/assets/images/promociones/cupon_horapagaqui.png" alt="Suscripcion 1" class="img-fluid mx-auto">
                </a>
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalhorapagaqui" class="btn btn-primary btn-lg" style="width:400px; height:70px; font-weight:bold; background-color:#D1406B;"><h3>HORA PAGAQUI</h3>></a>
            </div>
        </div>
        <div class="col-lg-1 col-md-12"></div>
        <div class="col-lg-4 col-md-12">
            <div class="body">
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalactivacionmovi">
                    <img src="~/assets/images/promociones/Movistar2.png" alt="Suscripcion 1" class="img-fluid mx-auto">
                </a>
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalactivacionmovi" class="btn btn-primary btn-lg" style="width:400px; height:90px; font-weight:bold; background-color:#544E4C;"><h3>ACTIVACIÓN<br/>MOVISTAR</h3>></a>
            </div>
        </div>
        <div class="col-lg-2 col-md-12"></div>

        <div class="col-lg-4 col-md-12">
            <div class="body">
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalactivacionatt">
                    <img src="~/assets/images/promociones/Unefon.png" alt="Suscripcion 1" class="img-fluid mx-auto">
                </a>
                <a href="#defaultModal" data-toggle="modal" data-target="#defaultModalactivacionatt" class="btn btn-primary btn-lg" style="width:400px; height:90px; font-weight:bold; background-color:#544E4C;"><h3>ACTIVACIÓN<br/>AT&T/UNEFON</h3>></a>
            </div>
        </div>
    </div>

