
@{
    ViewData["Title"] = "Usuarios";
}
<div class="container">
    <div class="block-header">
        <h2><strong>Usuarios</strong></h2>
    </div>

    @*codigo de tablas de usuario con roles.*@
    <div class="card">
        <div class="body">
            <div class="row clearfix">
                <div class="table-responsive col-lg-12">

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#defaultModal" data-toggle="modal" data-target="#AgregarRol">
                                <button class="btn btn-default pull-right add-row"><i class="fa fa-plus"></i>&nbsp;&nbsp; Agregar Rol <i class="zmdi zmdi-plus-circle-o"></i></button>
                            </a>
                            <a href="#defaultModal1" data-toggle="modal" data-target="#EliminarRol">
                                <button class="btn btn-default pull-right add-row"><i class="fa fa-plus"></i>&nbsp;&nbsp; Eliminar Rol <i class="zmdi zmdi-delete"></i></button>
                            </a>
                        </div>
                    </div>

                    <table class="table table-bordered align-center" id="tbUsuarioRol">
                        <thead class="thead-dark" align="center">
                            <tr>
                                <th>Usuario</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Rol</th>
                                @*<th>Editar Rol</th>*@
                                @*<th>Editar</th>*@


                            </tr>
                        </thead>
                        <tbody>

                            @*<td>
                                    <a class="button button-small edit" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>

                                    <a class="button button-small edit" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                </td>*@
                            @*<td>109772</td>
                                <td>Prueba</td>
                                <td>ejemplo@hotmail.com</td>
                                <td>Normal</td>
                                <td>6</td>
                                <td>CUALQUIERA</td>*@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*codigo nuevo.*@
    @*<div class="card">
        <div class="body">
            <div class="row clearfix">
                <div class="table-responsive col-lg-12">

                    <table class="table table-bordered align-center" id="NUsers">
                        <thead class="thead-dark" align="center">
                            <tr>
                                <th>Id</th>
                                <th>Usuario</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@



    @*termina codigo.*@
    <div class="card" style="display: none;">
        <div class="body">
            <div class="row clearfix">
                <div class="table-responsive col-lg-12">

                    <div class="row">
                        <div class="col-lg-12">
                            <a asp-area="" asp-controller="Home" asp-action="regUsuario" title="Cuenta">
                                <button class="btn btn-default pull-right add-row"><i class="fa fa-plus"></i>&nbsp;&nbsp; Agregar usuario <i class="zmdi zmdi-plus-circle-o"></i></button>
                            </a>
                        </div>
                    </div>

                    <table class="table table-bordered align-center" id="tbUsuario">
                        <thead class="thead-dark" align="center">
                            <tr>
                                <th>Editar</th>
                                <th>Nombre</th>
                                @*<th>Nombre</th>*@
                                <th>Correo</th>
                                <th>Punto de venta</th>


                            </tr>
                        </thead>
                        <tbody>

                            @*<td>
                                    <a class="button button-small edit" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>

                                    <a class="button button-small edit" title="Delete">
                                        <i class="zmdi zmdi-delete"></i>
                                    </a>
                                </td>*@
                            @*<td>109772</td>
                                <td>Prueba</td>
                                <td>ejemplo@hotmail.com</td>
                                <td>Normal</td>
                                <td>6</td>
                                <td>CUALQUIERA</td>*@

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display: none;">

    <div class="card">
        <div class="body">
            <div class="row clearfix">
                <div class="table-responsive col-lg-12">

                    <table class="table table-bordered align-center" id="tbDistribuidores">
                        <tr>
                            <th class="align-center">Distribuidores</th>
                        </tr>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="display: none;">

    <div class="card">
        <div class="body">
            <div class="row clearfix">
                <div class="table-responsive col-lg-12">

                    <table class="table table-bordered align-center" id="tbDistribuidores1">
                        <tr>
                            <th class="hiddenRow align-center">Distribuidores1</th>
                        </tr>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


