
@{
    ViewData["Title"] = "VerDetalles";
}

<div class="modal-content">
    <div class="col-lg-14 col-md-14 col-sm-14">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="container">
                    <div class="block-header">
                        <h2><strong>Detalles</strong></h2>
                    </div>

                    <div class="col-lg-12 col-md-12 user_earnings align-right">
                        <h6 id="FechaHoraDetalles"></h6>
                    </div>
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong> Nombre:</strong></p>
                                        <span id="NomDetalles"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Ubicacion:</strong></p>
                                        <label id="LatitudDetalles"></label>
                                        <label id="LongitudDetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Direccion Ip:</strong></p>
                                        <label id="DipDetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Referencia:</strong></p>
                                        <label id="RFDetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Telefono:</strong></p>
                                        <label id="TelDetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Sku/TbOrigen</strong></p>
                                        <label id="SkuDetalles"></label> <b><strong>/</strong></b>
                                        <label id="tbODetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <p class="my-2"><strong>Monto:</strong></p>
                                    <div class="input-group form-float">
                                        <b><strong>$</strong></b><label id="MontoDetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Tipo:</strong></p>
                                        <label id="TipoDetalles"></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group form-float">
                                        <p class="my-2"><strong>Folio:</strong></p>
                                        <label id="FolDetalles"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="modal-footer">
            <ul class="form-inline mr-auto">
                <button class="btn btn-success btn-round" id="btnEditarUsuarioshijos">Editar Cambios <i class="zmdi zmdi-floppy"></i> </button>
                <a asp-area="" asp-controller="Home" asp-action="Distribuidores">
                    <button class="btn btn-danger btn-round" id="btnCancelarHijos">Cancelar</button>
                </a>
            </ul>
        </div>*@
</div>

